body {
    margin: 0;
}

canvas {
    width: 100%;
    height: 100%;
    z-index: -1;
}

#play_pause_btn {
    width: 50px;
    top: 20px;
    right: 40px;
    position: absolute;
}

#controls {
    top: 20px;
    width: 120px;
    left: 20px;
    position: absolute;
}

#save_load_controls {
    margin-bottom: 10px;
}

#load_input {
    display: none;
}

.control {
    margin-bottom: 20px;
    background: #F5F5F5;
}

#speed_input {
    width: 100px;
    margin-left: 2px;
    margin-bottom: 3px;
}

#info_box {
    top: 60px;
    min-width: 100px;
    right: 20px;
    background: #F5F5F5;
    position: absolute;
}

#info_box * {
    text-align: right;
}

#element_type {
    font-style: italic;
}

#element_properties {
    border-collapse: collapse;
}

#element_properties tr, td {
    border: 1px solid black;
}

#element_properties tr:nth-child(odd) {
    background: white;
}

.modal_form {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.modal_form > div {
    width: 170px;
    position: relative;
    margin: 10% auto;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.51);
    color: white;
    font-family: Geneva, Arial, Helvetica, sans-serif;
}

.modal_form > div > input {
    margin-bottom: 10px;
}

.modal_form > div > button {
    margin-right: 5px;
}

.modal_form h3 {
    margin: 5px 0 10px 0;
}

#message_box {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 100px;
    width: 400px;
    border: ridge lightgray 3px;
    background: white;
    overflow: hidden;
}

#message_box_control_panel {
    background: rgba(211, 211, 211, 0.5);
    height: 15px;
}

#message_box_controls {
    width: inherit;
    height: inherit;
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
}

.message_box_control {
    display: inline-flex;
    align-items: center;
    margin-right: 3px;
}

#clear_messages {
    float: right;
    height: 13px;
    width: 13px;
    margin-top: 1px;
    cursor: pointer;
}

#messages {
    overflow: auto;
    height: 85px;
}

.message {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-size: 14px;
    margin-left: 3px;
    margin-top: 5px;
}

.message hr {
    opacity: 0.7;
    margin: 2px 0 2px 0;
}

.error {
    color: red;
}